@{
    ViewData["Title"] = "Trang chủ";
}


@section mycss {
    <link href="~/httt/css/mycss.css" rel="stylesheet">
}

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Quản lý quỹ K66 HTTT</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Thử nghiệm quản lý quỹ lớp </p>

            </div>
        </div>
    </div>
</header>
<!-- About-->

<!-- Services-->

<!-- Portfolio-->

<!-- Call to action-->
<section class="page-section bg-dark text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
        <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Download Now!</a>
    </div>
</section>
<!-- Contact-->