@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Thu Chi";

}


<section class="page-section bg-primary" id="demo">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0" style="backdrop-filter: blur(2px);">
                    QUẢN LÝ THU CHI
                </h2>
                <hr class="divider divider-light" />
            </div>
        </div>
    </div>
</section>



<div class="container">
    <p class="text-center" style="backdrop-filter: blur(2px);">Tổng số tiền quỹ: 
        <span id="total"></span></p>
    <table class="table table-bordered" id="tableThuChi">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ngày chi</th>
                <th>Loại chi</th>
                <th>Số tiền</th>
                <th>Tên khoản chi</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>



    <h2 class="text-center px-2 px-lg-2" style="background-color: rgba(255, 255, 255, 0.7);backdrop-filter: blur(2px);">Thêm mới</h2>
    <form class="container px-4 px-lg-5" id="addThuChiForm" style="background-color: rgba(255, 255, 255, 0.7);backdrop-filter: blur(2px);">
        <div class="mb-3">
            <label for="ngayChi" class="form-label">Ngày chi:</label>
            <input type="date" class="form-control" id="ngayChi" name="ngayChi" required>
        </div>
        <div class="mb-3">
            <label for="Loai" class="form-label">Loại chi:</label>
            <select class="form-control" id="Loai" name="Loai" required>
                <option value="Thu">Thu</option>
                <option value="Chi">Chi</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="soTien" class="form-label">Số tiền:</label>
            <input type="number" class="form-control" id="soTien" name="soTien" required>
        </div>
        <div class="mb-3">
            <label for="TenKhoanChi" class="form-label">Tên khoản chi:</label>
            <input type="text" class="form-control" id="TenKhoanChi" name="TenKhoanChi" required>
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>
@section mycss {
    <link href="~/httt/css/mycss.css" rel="stylesheet">
}
@section QLthuchi {
    <script src="~/httt/js/QLthuchi.js" ></script>
    @*<script src="~/httt/js/NHANThuChi.js"></script>
  <script src="~/httt/js/myjs.js"></script> *@

}



